@import "../styles/reset";

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;

}

.header {
  display: grid;
  height: 10%;
  grid-template-rows: 60% 40%;
  box-sizing: border-box;


  .header__nav {
    display: flex;
    background-color: #FFFFFF;

    .header__nav-item {
      display: flex;

      flex-grow: 1;
      flex-basis: 60px;


      justify-content: center;
      align-items: center;


      background-color: #FFFFFF;

      border-left: 1px solid #C6C6C6;
      border-bottom: 1px solid #C6C6C6;
      box-sizing: border-box;

      font-size: 14px;

    }

    .header__nav-item:nth-child(6) {
      flex-basis: 150px;

      font-weight: bold;
      font-size: 28px;
    }


    .header__nav-item:nth-child(1),
    .header__nav-item:nth-child(10),
    .header__nav-item:nth-child(11) {
      font-size: 24px;
    }
  }

  .header__category {
    display: flex;
    align-items: center;

    .header__category-log {
      margin-left: 53px;
      font-size: 12px;
    }
  }
}

.section {
  display: flex;
  width: 100%;
  height: 90%;
  box-sizing: border-box;


  border-top: 1px solid #C6C6C6;

  .item__img {
    border-right: 1px solid #C6C6C6;
  }

  .item__info {
    width: 100%;
    height: 100%;

    box-sizing: border-box;


    .item__info-top {
      height: 60%;

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(4, 1fr);

      box-sizing: border-box;

      border-bottom: 1px solid #C6C6C6;;

      .item__title {
        grid-column-start: 1;
        grid-column-end: -1;

        display: flex;
        flex-direction: column;

        justify-content: end;

        padding: 50px;

        font-weight: bold;

        gap: 10px;

        .title-sub {
          font-size: 22px;
        }

        .title-main {
          font-size: 48px;
        }
      }

      .item__details {
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;
        display: flex;

        font-size: 36px;
        font-weight: bold;

        .item__specs,
        .item__price {
          padding: 30px 50px;

          width: 50%;
        }
      }

      .item__add-cart {

        padding: 0 50px;

        .item__cart-img {
          width: 100px;
        }
      }
    }

    .item__info-bottom {
      display: flex;
      height: 40%;

      .item__description{
        width: 40%;

        padding: 50px;

        font-weight: bold;

        border-right: 1px solid #C6CACA;
      }

      .item__guide{
        width: 60%;

        padding: 50px;

        .guide__list{
          display: flex;
          flex-direction: column;

          gap: 20px;


          .guide__item{
            display: flex;
            justify-content: space-between;

            padding: 5px 10px;
            border-bottom: 2px solid black;

            font-weight: bold;
          }
        }
      }
    }
  }


}

