@import "../styles/reset";

body {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;

  font-family: 'Oswald', sans-serif;
}

.container {
  width: 350px;
  height: 775px;

  background-color: #D7DBDB;

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.header {
  display: flex;
  background-color: #C6CACA;
  font-size: 18px;

  height: 40px;

  align-items: end;
  justify-content: space-between;

  padding: 20px;
  border-radius: 10px 10px 0 0;

  .header__title {
    font-weight: bold;
  }
}

.total {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: end;
  gap: 10px;

  background-color: #1F1414;
  color: #DEE2E2;

  height: 50px;
  padding: 20px;

  font-weight: bold;

  .total__price,
  .total__subtitle{
    font-size: 24px;
  }

}

.items {

  .item {
    background-color: #36d75a;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
  }

  .item__info {
    display: flex;
    background-color: #D7DBDB;

    padding: 10px;

    .item__row-col {
      display: flex;
      flex-direction: column;


      width: 100%;
      height: 100%;

      gap: 10px;

      .item__title {
        font-size: 36px;
      }

      .item__subtitle {
        font-size: 14px;
      }

      .item__total-price {
        display: flex;
        justify-content: end;

        font-size: 28px;
      }

      .item__piece-price {
        display: flex;
        justify-content: end;
      }
    }
  }

  .item__specs {
    display: flex;

    background-color: #D7DBDB;

    border-top: 3px solid black;
    border-bottom: 3px solid black;


    .spec {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: start;

      gap: 5px;
      width: 100px;

      border-right: 2px solid black;

      .spec__title,
      .spec__value {
        margin-left: 10px;
      }

    }


    .item__photo {
      width: 135px;
      height: 175px;

      border: 3px solid black;

      transform: translateY(-104px) translateX(-2px);
    }
  }

  .item__footer {
    width: 100%;
    height: 15px;
    background-color: #5aff5a;

    border-bottom: 3px solid black;
  }
}
